<div class="container top-margin">
  <h2>Bookmarks</h2>
  <table class="table">
    <thead>
      <tr>
        <th>Name</th>
        <th>URL</th>
        <th></th>
      </tr>
    </thead>

    <tbody>
      <% @bookmarks.each do |bookmark| %>
        <tr>
          <td><%= bookmark.playspace.name %></td>
          <td><%= link_to 'URL', playspace_path(bookmark.playspace.id) %></td>
          <td><%= button_to 'Destroy', bookmark_path(bookmark), method: :delete, data: {confirm: 'Are you sure?'} %></td>
        </tr>
    <% end %>
    </tbody>
  </table>
</div>
