<div class="row">
  <div class="static-header col-xs-12">

    <span class="header h2 white">About</a>
  </div>
</div>

<div class="row col-xs-12 col-sm-10 col-sm-offset-1 col-md-8 col-md-offset-2">

    <p>This app is for parents who are searching for outdoor spaces including playgrounds, parks and beaches in Hong Kong.</p>

    <p>With energy levels higher than the sun, the small humans in your care need to roam free. That's great as long as you can find a playground or park that suits you.</p>

    <p>But what if you could ask other parents for their recommendation? That's why PlaySpace only has reviews submitted by the people who use these playspaces: <strong>you</strong>.</p>

    <p> Please help us to make PlaySpace even better by becoming a member of the site and adding your local playspace, and reviewing playspaces added by other users.</p>

    <p>In a large city like Hong Kong, there are so many playgrounds that it would be impossible to know where they all are, even when you live here. This makes using the app even more exciting, to help you discover new spaces to play near you.</p>

    <p>PlaySpace is created by Philippa Johnstone and Ada Au. We are both mums with young children and enjoy finding new playspaces to explore with our family.</p>

    <p>The PlaySpace app is part of our second project for the General Assembly Web Development Immersive course in Hong Kong.</p>

    <p>So, how do you use PlaySpace? Its super easy! You go to the main view and press <i>"Find a PlaySpace"</i>. This leads you to a list of
    all the playspaces available in the app. You can filter playspaces based on address, district or features. For example, if you have a 'swing' obsessed toddler, select <i>'swings'</i> in the features menu and the app will filter playspaces with swing's on site! Phew, no dissapointed faces when you arrive to explore!</p>

    <p>How do you enter a new PlaySpace? First, sign in to the website. Once logged in, go to the menu and press <i>“Add a PlaySpace”</i>. This leads you to an input screen, where you can add the details of the new playspace and even a photo if you want, and submit.</p>

    <p>So, we hope you like the app and have a lot of fun exploring with your children.</p>
</div>