<div class="col-xs-12 col-sm-10 col-sm-offset-1 col-md-8 col-md-offset-2 top-margin">

  <h2>About</h2>

    <p>This app is for parents who are searching for outdoor spaces including playgrounds, parks and beaches in Hong Kong.</p>

    <p>With energy levels higher than the sun, the small humans in your care need to roam free. That's great as long as you can find a playground or park that suits you.</p>

    <p>But what if you could ask other parents for their recommendation? That's why PlaySpace only has reviews submitted by the people who use these playspaces: <strong>you</strong>.</p>

    <p> Please help us to make PlaySpace even better by becoming a member of the site and adding your local playspace, and reviewing playspaces added by other users.</p>

    <p>So, we hope you like the app and have a lot of fun exploring with your children.</p>
</div>

<script>HideSearchToggle()</script>