<header class="header">
  <!-- background image goes in here. see static_pages.scss -->
  <div class="container">
    <div class="intro-text">
      <div class="intro-heading">Find your next PLAY SPACE</div>
      <%= link_to "GO!", playspaces_path, class: "page-scroll btn btn-xl" %>
    </div>
  </div>

</header>

<script>HideSearchToggle()</script>
