<div class="row">
  <div class="static-header col-xs-12">
  </div>
</div>

<div class="col-xs-12 text-center" id="landing-center">
  <!-- <div class="text-center"> -->
  <%= link_to "Find a PlaySpace", root_path, class: "btn btn-primary btn-find" %>
  <!-- </div> -->
  <h6>OR</h6>
  <%= link_to "Sign Up", new_user_path, class: "btn btn-default" %>
  <%= link_to "Log In", login_path, class: "btn btn-success" %>
</div>
