<div class="row">
  <div class="static-header col-xs-12">
    <a class="btn btn-primary home-find" href="#">Find a PlaySpace</a>
  </div>
</div>

<div class="row">
  <div class="col-xs-2 col-xs-offset-5 home-or">OR</div>
</div>

<div class="row">
  <div class="col-xs-3 col-xs-offset-2 col-sm-2 col-sm-offset-3 col-md-2 col-md-offset-3 home-sign-log"><a class="btn btn-default btn-sign-log" href="/users/new">Sign Up</a></div>
  <div class="col-xs-3 col-xs-offset-2 col-sm-2 col-sm-offset-2 col-md-2 col-md-offset-2 home-sign-log"><a class="btn btn-success btn-sign-log" href="/login">Log In</a></div>
</div>
