<div class="container" align="center">

  <div class="row">
    <h1>PlaySpace</h1>
  </div>

  <div class="row">
    <h2>Find a PlaySpace</h2>
  </div>

  <div class="row">
    <h3>or</h3>
  </div>

<br>

  <div class="row">
    <a class="btn btn-success" href="/users/new">Sign up</a>
  </div>

<br>

  <div class="row">
    <a class="btn btn-success" href="/login">Login</a>
  </div>

</div>
