<header>
  <div class="row">
    <div class="col-xs-1">
      <span class="glyphicon glyphicon-th-list" aria-hidden="true"></span>
    </div>
    <div class="logo col-xs-2 col-xs-offset-4">
      <%= link_to image_tag("playspace_bw_logo.png"), root_path %>
    </div>
  </div>
</header>
