/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_self
 *= require_rails_bootstrap_forms
 */

@import "variables";
@import "bootstrap-sprockets";
@import "bootstrap";
@import "static_pages";

$font-size-base: 14px;

body {
  font-size: 100%;
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

h1, h2, h3, h4 {
  font-family: avenir, 'avenir next', helvetica, arial, sans-serif;
  font-weight: bold;
}

h5 {
  font-family: Georgia, Times, 'Times New Roman', serif;
}

h6 {
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-weight: bold;
}

// div.main {
//   margin: 0 20px;
// }

@media screen and (max-width: $screen-xs) {
  body {
    h1 {font-size: ($font-size-base * 2.6);}
    h2 {font-size: ($font-size-base * 2);}
    h3 {font-size: ($font-size-base * 1.7);}
    h4 {font-size: ($font-size-base * 1.4);}
    h5 {font-size: ($font-size-base * 1.4);}
    h6 {font-size: ($font-size-base * .85);}
    p {font-size: ($font-size-base * 1);}
  }
}

@media screen and (min-width: $screen-xs) {
  body {
    h1{font-size: ($font-size-base * 3.4);}
    h2{font-size: ($font-size-base * 2.4);}
    h3{font-size: ($font-size-base * 1.85);}
    h4{font-size: ($font-size-base * 1.4);}
    h5{font-size: ($font-size-base * 1.4);}
    h6{font-size: ($font-size-base * .85);}
    p{font-size: ($font-size-base * 1.15);}
  }
}

@media screen and (min-width: $screen-sm) {
  body {
    h1{font-size: ($font-size-base * 4.6);}
    h2{font-size: ($font-size-base * 2.6);}
    h3{font-size: ($font-size-base * 2);}
    h4{font-size: ($font-size-base * 1.7);}
    h5{font-size: ($font-size-base * 1.7);}
    h6{font-size: ($font-size-base * 0.9);}
    p{font-size: ($font-size-base * 1.15);}
  }
}

.white {
  color: white;
}
