
/* Header image*/
header.header {
    display: table;
    position: relative;
    width: 100%;
    height: 500px;
    background: url(DSC_0028.jpg) no-repeat center center scroll;
    -webkit-background-size: cover;
       -moz-background-size: cover;
            background-size: cover;
         -o-background-size: cover;
}

.btn {
  padding: 10px 40px;
  margin: 0 25px;
}
