// Place all the styles related to the StaticPages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

// CHANGE class="logo" to class="align-center" in header after rebase
div.logo {
  text-align: center;
}

div.static-header {
  background: image-url('DSC_0028.jpg') no-repeat fixed;
  -webkit-background-size: cover;
     -moz-background-size: cover;
       -o-background-size: cover;
          background-size: cover;
  height: 500px;
  text-align: center;
  margin-bottom: 20px;
}

span.header {
  margin-top: 200px
}

.btn {
  padding: 10px 40px;
  margin: 0 25px;
}

div.std-margin-top {
  margin-top: 20px;
}

a.btn-sign-log {
  width: 100%;
  max-width: 150px;
}
